#scanner-container {
  width: 100%;
  height: 70vh;
  position: relative;
}
#result {
  font-size: 20px;
  margin-top: 20px;
  text-align: center;
}
#barcodeScanner {
  text-align: center;
  font-size: medium;
  height: 40vh;
  width: 40vw;
}

#videoview {
  position: relative;
  width: 100%;
  height: 100vh;
}

#videoContainer {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  object-fit: contain;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

header {
  background-color: #f7f7f7;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
}

header .logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #2dbf50;
}

header nav a {
  margin: 0 1rem;
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

header .buttons a {
  padding: 0.5rem 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

header .buttons a.primary {
  background-color: #7f46f9;
  color: #fff;
}

main {
  text-align: center;
  padding: 2rem 1rem;
}

main h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

main p {
  color: #555;
  margin-bottom: 2rem;
}

main .search-bar {
  margin: 1rem 0;
}

main .search-bar input {
  padding: 0.5rem 1rem;
  width: 50%;
  max-width: 300px;
  border: 1px solid #ddd;
  border-radius: 25px;
}

.recipes {
  padding: 2rem 1rem;
  background-color: #f9f9f9;
}

.recipes h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.recipes .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
}

.recipes .grid img {
  width: 100%;
  border-radius: 10px;
}

.recipes .show-all {
  text-align: right;
  margin-top: 1rem;
}

.recipes .show-all a {
  text-decoration: none;
  color: #7f46f9;
}